{% extends "layout.html" %} {% block content %}
<div class='row'>
    <div class="col l12 m12 s12 center-align">
        <h5>Click a State</h5>
        
        <button class='btn waves-effect blue heat-map'>HeatMap</button>
        <!-- put this functionality into dropdown -->
        <ul id="industry-dropdown" class="dropdown-content">
            <li><a>Real Estate</a>
            </li>
            <li><a>Retired</a>
            </li>
            <li class="divider"></li>
            <li><a>Lobbyists</a>
            </li>
        </ul>
        <!-- Dropdown Trigger -->
        <li><button class="btn dropdown-button" href="#!" data-activates="industry-dropdown">Choose an Industry<i class="mdi-navigation-arrow-drop-down"></i></button></li>
        
    </div>
    <div class="col l12 m12 s12">
        <div class="mapContainer center-align">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
            <script src='/d3/d3.min.js'></script>
            <script src="/d3/topojson.v1.min.js"></script>
            <script src="/public/javascripts/materialize.js"></script>
            <script src='/d3/maps.js'></script>
        </div>
    </div>

</div>
{% endblock %}