{% extends "layout.html" %} {% block content %}
<div class='row'>
    <div class="col l12 m12 s12 center-align">
        <h5>Select a State or Industry</h5>
    </div>

    <div class="col l2 m2 s12 center-align">

        <ul id="industry-dropdown" class="dropdown-content">

            {% for industryName in industries %}
            <li><a>{{industryName}}</a>
            </li>
            <li class="divider"></li>
            {% endfor %}

        </ul>

        <!-- Dropdown Trigger -->
        <li>
            <button class="btn dropdown-button" data-activates="industry-dropdown">Industries<i class="mdi-navigation-arrow-drop-down"></i>
            </button>
        </li>

        <!-- legend -->
        <!-- <div id="legend-wrapper">
            <div class="col center-align" id="legend">
                <div class="least">$</div>
                <div class="most">$$$</div>
                <div class="colors">
                    <div class='color-panel' style="background-color: #4C4C4C;"></div>
                    <div class='color-panel' style="background-color: #0b24e5;"></div>
                    <div class='color-panel' style="background-color: #6034A2;"></div>
                    <div class='color-panel' style="background-color: #852F81;"></div>
                    <div class='color-panel' style="background-color: #e50b24;"></div>
                </div>
            </div>
        </div> -->

        <!-- end legend -->

        <div id="summary"></div>


    </div>
    <div class="col l9 m10 s12 offset-l1">
        <div class="mapContainer left-align">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
            <script src='/d3/d3.min.js'></script>
            <script src="/d3/topojson.v1.min.js"></script>
            <script src="/public/javascripts/materialize.js"></script>
            <script src='/d3/maps.js'></script>
        </div>
    </div>


</div>

{% endblock %}