<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='title' content="OpenSecrets - Political Funding Revealed">
    <meta name="description" content="OpenSecrets provides visibility into the murky financial data behind US government representatives.">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>OpenSecrets</title>

    

    <!-- Specific styles, non-bootstrap -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Materialize CSS -->
    <link href="/stylesheets/materialize.css" rel="stylesheet">

</head>

<body>

    <nav>
        <div class="nav-wrapper deep-purple darken-3">
            <a href="/" class="brand-logo center">OpenSecrets</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/about">About</a>
                </li>
                <!-- <li><a href="components.html">States</a>
                </li> -->
            </ul>
        </div>
    </nav>

    <div>
        <!-- Set map size based on screen size in css -->

        {% block content %}{% endblock %}

    </div>
    <!-- /.map container -->

    <div class='footer'>
        <p>&copy; Justin Cohen, 2014.  Made possible by the <a href='https://www.opensecrets.org/'>OpenSecrets API</a>. All data is for the 2014 cycle.</p>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <!-- <script src="../../dist/js/bootstrap.min.js"></script> -->

</body>

</html>