<!DOCTYPE html>
<meta charset="utf-8">
<style>

/* CSS goes here. */
.subunit[class*="CA"] {
  /*fill:#D85B7D;*/
  fill: #EEE;
  
}

.subunit[class*="US"] {
  fill:#5B68D8;
  
}
/*
.subunit[class*="US"]:hover {
    transition: opacity 0.25s;
    opacity:.5;

} 
.subunit.US-TX{
  fill: #bbb;
}

  */

</style>
<body>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src='maps.js'>


</script>