{% extends "layout.html" %}

{% block content %}
	<h4>{{ candidate.cand_name }}</h4>
  <a href='/state/{{stateAbbrev}}'><h5>{{stateName}}</h5></a>
  <div class="row">
    <div class="col l3 m6 s12">
      <h4>Contributions</h4>
			
			<div id="totalContributions">
				<li>
					<p>Selected Funding</p>
					<h5>$0</h5>
				</li>
			</div>
      <div id="percentage">
      	<li>
					<p>Percent of Total</p>
      		<h5>0.00%</h5>
      	</li>
      </div>
      <h5>Selected Industries</h5>
      <div id="summary"></div>
			
    </div>
    <div class="col l9 m6 s12">
      <div id="repPieChart"></div>
    </div>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
     <!-- <script src="https://d3js.org/d3.v3.min.js"></script>
     <script src="https://d3js.org/topojson.v1.min.js"></script> -->
     <script src='/d3/d3.min.js'></script>
    <!-- <script src='/d3/maps.js'></script> -->
    <script src="/d3/topojson.v1.min.js"></script>
    <script src='/d3/pieCharts.js'>
    </script>
    <script>
        {% autoescape false %}
            createPieChart({{ pieData | json }})
        {% endautoescape  %}
    </script>


{% endblock %}
