{% extends "layout.html" %}

{% block content %}
    
    
    	<h2>{{ candidate.cand_name }}</h2>
        
        {%for orgs in contributors%} 
            {%for org in orgs%}  
            <ul><strong>{{ org.industry_name  }}</strong>
                <li>Total Contribution: {{ org.total }}</li>
                <li>Indiv Contributions: {{ org.indivs }}</li>
                <li>Pac Contributions: {{ org.pacs }}</li>
            </ul>
            {% endfor %}
        {% endfor %}
    
    


{% endblock %}
