body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.subunit[class*="US"] {
  fill:#3366FF;
  opacity: 1;
}


.footer {
	color:#bbb;
	
}

/*This isnt working, pull in scss
@media screen and (max-width: 995px) , screen and (max-height: 700px) {
	.mapContainer{
		width: 900px;
		height:700px;
	}
}

@media screen and (max-width: 500px) , screen and (max-height: 500px) {
	.mapContainer{
		width: 450px;
		height:400px;
	}
}
*/